[Unit]
Description=Gateway (%i)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/gateway@%i

ExecStart=/root/scripts/gateway.sh ${gateway} ${outport}

ExecStop=/root/scripts/waygate.sh ${gateway} ${outport}

[Install]
WantedBy=multi-user.target
