[Unit]
Description=Gateway (%i)
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/gateway@%i.conf

ExecStart=/root/scripts/gateway ${gateway} ${outport}
ExecStop=/root/scripts/waygate ${gateway} ${outport}

[Install]
WantedBy=multi-user.target
